@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css">
<div class="container">
    <div class="home">
        <div class="row">
            <div class="col-sm-6">
                <h1>Caring & Loving Pets</h1>
                <br>
                <br>
                <h5>Our growth reflects our mission to make the world a better place for your furry friends.</h5>
                <br>
                <br>
                @Html.Partial("_LoginPartial")

            </div>
            <div class="col-sm-6">
                <img src="~/img/home.jpg">
            </div>
        </div>
    </div>
</div>
