@{
    ViewBag.Title = "Shop";
}

<link rel="stylesheet" href="~/css/shop.css">
<div class="container">
    <div class="shopBody">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Leonardo Adult Complete 32/16 Cat Dry Food 2 Kg</p>
                        <h5>310.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Vita Day Dry Food For Cats 20KG</p>
                        <h5>965.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Royal Canin Persian Adult Cat Food 2 kg</p>
                        <h5>480.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Fokker Fresh Meat 13KG</p>
                        <h5>1315.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">MERA Essential Junior 2 Puppy Dry Food 4Kg</p>
                        <h5>965.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Dog Chow Complete8.39 KG</p>
                        <h5>505.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Suprium Rubber Dog Toy YPTPRCT006 - 12cm</p>
                        <h5>20.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop8.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Suprium Rubber Dog Toy YPTPRBT005 - 12cm</p>
                        <h5>25.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/shop9.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Pixi Cat Litter Box(52*38*39)cm - Different Colours</p>
                        <h5>480.00 EGP</h5>
                        <br>
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>